In [5]:
print("dd")

dd

In [ ]:
print("== 1단계(기본 함수, 매개변수 없음) ==")
def print_1_to_10():
    i = 1
    while i <= 10:
        print(i)
        i += 1

print_1_to_10()

== 1단계(기본 함수, 매개변수 없음) ==
1
2
3
4
5
6
7
8
9
10

In [10]:
print("== 2단계(매개변수 1개) ==")
def print_1_to_m(m):
  i = 1
  while i <= m:
    print(i)
    i += 1

print_1_to_m(4)

== 2단계(매개변수 1개) ==
1
2
3
4

In [9]:
print("== 3단계(매개변수 2개) ==")
def print_n_to_m(n, m):
  i = n
  while i <= m:
    print(i)
    i += 1

print_n_to_m(5, 8)

== 3단계(매개변수 2개) ==
5
6
7
8

In [14]:
dan = 8
def print_dan():
    i = 1
    while i <= 9:
        print("{} * {} = {}".format(dan, i, dan * i))
        i += 1

print("== 1번째 99단 8단 출력 ==")
# 이름이 `print8Dan`인 함수를 1번 실행한다.
print_dan()

print("== 2번째 99단 8단 출력 ==")
print_dan()

print("== 3번째 99단 8단 출력 ==")
print_dan()

print("== 4번째 99단 8단 출력 ==")
print_dan()

print("== 5번째 99단 8단 출력 ==")
print_dan()

print("== 6번째 99단 8단 출력 ==")
print_dan()

print("== 7번째 99단 8단 출력 ==")
print_dan()

print("== 8번째 99단 8단 출력 ==")
print_dan()

print("== 9번째 99단 8단 출력 ==")
print_dan()

== 1번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 2번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 3번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 4번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 5번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 6번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 7번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 8번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 9번째 99단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [18]:
def plus(a, b):
    print(a+b)
    return 10


x = plus(10,20)
print(x)


y = 10 + 20
print(y)

30
10
30

In [ ]:
# 문제 : for문으로 1부터 n사이에 존재하는 소수의 합을 반환하는 함수 구현

# 소수판별함수 구현
def is_prime_number(number):
  if number <= 1:
    return False

  for i in range(2, number):
    if number % i == 0:
      return False
  
  return True

# 1부터 n까지 사이의 모든 소수의 합을 반환하는 함수 구현
def get_1_to_n_prime_sum(n):
  s = 0

  for i in range(1, n + 1):
    if is_prime_number(i):
      s += i

  return s

# 함수 사용
n = 10
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

n = 100
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

n = 1000
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

1부터 10사이에 존재하는 모든 소수 의 합 : 17
1부터 100사이에 존재하는 모든 소수 의 합 : 1060
1부터 1000사이에 존재하는 모든 소수 의 합 : 76127

In [20]:
# 문제 : for문으로 1부터 n사이에 존재하는 소수의 합을 반환하는 함수 구현

# 소수판별함수 구현
def is_prime_number(number):
  if number <= 1:
    return False

  for i in range(2, number):
    if number % i == 0:
      return False
  
  return True

# 1부터 n까지 사이의 모든 소수의 합을 반환하는 함수 구현
def get_1_to_n_prime_sum(n):
  s = 0

  for i in range(1, n + 1):
    if is_prime_number(i):
      s += i

  return s

# 함수 사용
n = 10
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

n = 100
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

n = 1000
print("1부터 {}사이에 존재하는 모든 소수 의 합 : {}".format(n, get_1_to_n_prime_sum(n)))

1부터 10사이에 존재하는 모든 소수 의 합 : 17
1부터 100사이에 존재하는 모든 소수 의 합 : 1060
1부터 1000사이에 존재하는 모든 소수 의 합 : 76127

In [4]:
# 문제 - 리스트에 순서대로 2, 1, 5, 6, 7를 한 번에 담아주세요.

a = [2, 1, 5, 6, 7]
print(a)

[2, 1, 5, 6, 7]

In [22]:
# 문제 - 비어있는 리스트를 만들고, 순서대로 2, 1, 5, 6, 7를 하나씩 담아주세요.
a = []
a.append(2)
a.append(1)
a.append(5)
a.append(6)
a.append(7)
print(a)

[2, 1, 5, 6, 7]

In [23]:
#문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 '+=' 연산자를 이용해서 '토', '일' 을 한번에 추가해주세요.
a = ['월', '화', '수', '목', '금']
a += ['토', '일']
print(a)

['월', '화', '수', '목', '금', '토', '일']

In [3]:
# 문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 가장 마지막 요소를 출력해주세요.
a = ['월', '화', '수', '목', '금']
print(a[4])

금

In [2]:
# 문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 while문을 이용해서 요소 전부 출력해주세요.
a = ['월', '화', '수', '목', '금']
i = 0
while i < len(a):
  print(a[i])
  i += 1    
print(a)

월
화
수
목
금
['월', '화', '수', '목', '금']

In [1]:
a = ['월', '화', '수', '목', '금']

if '화' in a:
    print("ok")
else:
    print("no")

ok

In [30]:
# 문제 - 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 그리고 리스트 안에 있는 '오'를 정수 5로 변경해주세요.
a = [2, 1, '오', 6, 7]
a[2] = 5
print(a)

[2, 1, 5, 6, 7]

In [31]:
# 문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '화'가 리스트 안에 들어있는지 알려주세요.
a = ['월', '화', '수', '목', '금']
print('화' in a)

True

In [32]:
# 문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '화'가 리스트 안에서 몇 번째 데이터 인지 알려주세요.
a = ['월', '화', '수', '목', '금']
print(a.index('화'))

1

In [33]:
# 문제 - 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 리스트에 있는 '금'을 삭제하는 3가지 방법을 보여주세요.
a = ['월', '화', '수', '목', '금']
print("원래 리스트:", a)

# 방법 1: remove() 메서드 사용
b = a.copy()
b.remove('금')
print("방법 1:", b)

# 방법 2: pop() 메서드 사용
c = a.copy()
c.pop(4)  # 인덱스 4는 '금'
print("방법 2:", c)

# 방법 3: del 키워드 사용
d = a.copy()
del d[4]  # 인덱스 4는 '금'
print("방법 3:", d)

원래 리스트: ['월', '화', '수', '목', '금']
방법 1: ['월', '화', '수', '목']
방법 2: ['월', '화', '수', '목']
방법 3: ['월', '화', '수', '목']

In [ ]:
#  딕셔너리에 ㅏㄱ 달의 마지막 날들을 한 번에 담기
a = {
    "1월": 31,
    "2월": 28,
    "3월": 31,
    "4월": 30,
    "5월": 31,
    "6월": 30,
    "7월": 31,
    "8월": 31,
    "9월": 30,
    "10월": 31,
    "11월": 30,
    "12월": 31
}

print(a["3월"])

31

In [42]:
month_end_day = {}

for i in range(1, 12 + 1):
    month = str(i) + "월"
    month_end_day[month] = 31

    if i == 2:
        end_day = 28
    elif i in [4, 6, 9, 11]:
        end_day = 30
print(month_end_day)

{'1월': 31, '2월': 31, '3월': 31, '4월': 31, '5월': 31, '6월': 31, '7월': 31, '8월': 31, '9월': 31, '10월': 31, '11월': 31, '12월': 31}